apiVersion: apps/v1
kind: Deployment
metadata:
  name: managed-serviceaccount-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "managed-serviceaccount-manager.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas | default 1 }}
  selector:
    matchLabels:
      {{- include "managed-serviceaccount-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "managed-serviceaccount-manager.labels" . | nindent 8 }}
    spec:
      {{- if .Values.kubeconfigSecretName }}
      automountServiceAccountToken: false
      {{- else }}
      serviceAccount: managed-serviceaccount-manager
      automountServiceAccountToken: true
      {{- end }}
      containers:
        - name: manager
          image: {{ .Values.image }}:{{ default .Chart.AppVersion .Values.tag }}
          imagePullPolicy: Always
          command:
            - /msa
            - manager
          args:
            {{- if gt (int .Values.replicas) 1 }}
            - --leader-elect=true
            {{- end }}
            - --agent-image-name={{ .Values.image }}:{{ .Values.tag | default .Chart.AppVersion }}
            {{- if .Values.featureGates }}
            - --feature-gates=EphemeralIdentity={{ .Values.featureGates.ephemeralIdentity | default false}}
            {{- end}}
            {{- if .Values.agentImagePullSecret }}
            - --agent-image-pull-secret={{ .Values.agentImagePullSecret }}
            {{- end}}
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NAMESPACE
              value: {{ .Release.Namespace }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          volumeMounts:
            - mountPath: /tmp
              name: tmp-dir
      volumes:
        - name: tmp-dir
          emptyDir: {}
