nameOverride: ""
fullnameOverride: ""

manager:
  image: ghcr.io/kluster-manager/cluster-profile
  tag: ""
  imagePullPolicy: Always
  securityContext: # +doc-gen:break
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    privileged: false
    runAsNonRoot: true
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault
  # List of sources to populate environment variables in the container
  envFrom: []
  # List of environment variables to set in the container
  env: []

kubeconfigSecretName: ""
addonManagerNamespace: open-cluster-management-addon

placement:
  create: true
  name: global

kubectl:
  image: ghcr.io/appscode/kubectl-nonroot:1.34

# ace values

# Docker registry fqdn used to pull cluster-profile-manager docker images
registryFQDN: ghcr.io

offlineInstaller: false
image:
  proxies:
    # r.appscode.com
    appscode: r.appscode.com
    # company/bin:tag
    dockerHub: ""
    # alpine, nginx etc.
    dockerLibrary: ""
    # ghcr.io/company/bin:tag
    ghcr: ghcr.io
    # quay.io/company/bin:tag
    quay: quay.io
    # registry.k8s.io/bin:tag
    kubernetes: registry.k8s.io
    microsoft: mcr.microsoft.com
    weaviate: cr.weaviate.io

# image:
#   proxies:
#     dockerHub: harbor.appscode.ninja/dockerhub
#     dockerLibrary: ""
#     ghcr: harbor.appscode.ninja/ghcr
#     quay: harbor.appscode.ninja/quay
#     kubernetes: harbor.appscode.ninja/k8s
#     microsoft: harbor.appscode.ninja/mcr
#     appscode: harbor.appscode.ninja/ac

registry:
  credentials: {}
  # username: "abc"
  # password: "xyz"
  certs: {}
  # ca.crt: "***"
  imagePullSecrets: []
  # imagePullSecrets: ["abc", "xyz"]

helm:
  createNamespace: true

  repositories:
    # oci://harbor.appscode.ninja/ac/appscode-charts
    appscode-charts-oci:
      url: oci://ghcr.io/appscode-charts

  releases:
    kube-ui-server:
      enabled: true
      version: "v2024.8.21"
    opscenter-features:
      enabled: true
      version: "v2024.8.21"

platform:
  baseURL: ""
  token: ""
  caBundle: ""
