nameOverride: ""
fullnameOverride: ""

image: ghcr.io/kluster-manager/fluxcd-addon
tag:

securityContext: # +doc-gen:break
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  privileged: false
  runAsNonRoot: true
  readOnlyRootFilesystem: true
  seccompProfile:
    type: RuntimeDefault

placement:
  create: true
  name: global

fluxcdConfig:
  installCRDs: true
  cli:
    image: ghcr.io/appscode/flux-cli
  helmController:
    create: true
    image: ghcr.io/fluxcd/helm-controller
  imageAutomationController:
    create: false
    image: ghcr.io/fluxcd/image-automation-controller
  imageReflectionController:
    create: false
    image: ghcr.io/fluxcd/image-reflector-controller
  kustomizeController:
    create: true
    image: ghcr.io/fluxcd/kustomize-controller
  notificationController:
    create: true
    image: ghcr.io/fluxcd/notification-controller
  sourceController:
    create: true
    image: ghcr.io/fluxcd/source-controller
