clusterMetadata:
  name: TBD
  store:
    clusterClaim:
      name: cluster.ace.info
    secret:
      # name: ""
      # namespace: ""
      name: ace-cluster-info
      namespace: kubeops

bootstrap: true

hub:
  apiServer: ""
  caData: ""
  token: ""
  kubeConfig: ""

aws:
  hubClusterArn: ""
  managedClusterArn: ""

registry: quay.io/open-cluster-management

securityContext: # +doc-gen:break
  allowPrivilegeEscalation: false
  capabilities:
    drop:
    - ALL
  privileged: false
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

clusteradm:
  image: ghcr.io/kluster-manager/clusteradm
  securityContext: # +doc-gen:break
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
    privileged: false
    runAsNonRoot: true
    readOnlyRootFilesystem: true
    seccompProfile:
      type: RuntimeDefault

bundleVersion:
  registrationImageVersion: ""
  placementImageVersion: ""
  workImageVersion: ""
  operatorImageVersion: ""
  clusteradmImageVersion: "v1.2.0"

managedKubeconfig: ''

registrationFeatures: []

workFeatures: # +doc-gen:break
  - feature: RawFeedbackJsonString
    mode: Enable
