apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-proxy-manager
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster-proxy-manager.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "cluster-proxy-manager.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "cluster-proxy-manager.labels" . | nindent 8 }}
    spec:
      serviceAccount: cluster-proxy-manager
      automountServiceAccountToken: true
      containers:
        - name: manager
          image: {{ .Values.registry }}/{{ .Values.image }}:{{ default .Chart.AppVersion .Values.tag }}
          imagePullPolicy: Always
          command:
            - /manager
          args:
            {{- if gt (int .Values.replicas) 1 }}
            - --leader-elect=true
            {{- end }}
            - --signer-secret-namespace={{ .Release.Namespace }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
