nameOverride: ""
fullnameOverride: ""

# Image of the managed service-account instances
image: ghcr.io/kluster-manager/managed-serviceaccount
tag: ""

# Number of replicas
replicas: 1

securityContext: # +doc-gen:break
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: RuntimeDefault

featureGates:
  ephemeralIdentity: false

agentImagePullSecret: ""

# required for multicluster controlplane
kubeconfigSecretName: ""
addonManagerNamespace: open-cluster-management-managed-serviceaccount

placement:
  create: true
  name: global

kubectl:
  image: ghcr.io/appscode/kubectl-nonroot:1.34
